<!doctype html>
<!-- suppress ThymeleafVariablesResolveInspection -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>浏览博文 | TSS 技术博客网站</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">TSS Blog</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/aboutUs">关于我们</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" id="searchform" name="form1">
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyWord" />
                        </div>
                        <button type="submit" class="btn btn-default" href="/searchResult" onclick="form1.action='/search';form1.submit();">关键字搜索</button>
                        <button type="submit" class="btn btn-default" href="/searchResult"  onclick="form1.action='/searchTag';form1.submit();">Tag搜索</button>

                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${create} gt 0">
                            <a href="/in">登录</a>
                        </li>
                        <li th:if="${create} gt 0">
                            <a href="/register">注册</a>
                        </li>
                        <li th:if="${create} le 0">
                            <img th:src="${user.Userpic}" class="img-circle" style="height: 48px;"></img>
                        </li>
                        <li th:if="${create} le 0">
                            <a href="/user/show">个人信息</a>
                        </li>
                        <li th:if="${create} le 0">
                            <a th:href="@{'/user/'+${user.UserID}+'/blogList'}">博文空间</a>
                        </li>
                        <li th:if="${create} le 0">
                            <a href="/writeBlog" class="btn btn-default">发表博文</a>
                        </li>
                        <li onselectstart="return false;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li th:if="${create} le 0">
                            <a href="/userLogout" class="btn btn-default">退出登录</a>
                        </li>
                        <li onselectstart="return false;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-8 column">
                <div style="background-color: rgb(243, 243, 243); border-radius: 10px; margin-top: 5px; margin-bottom: 40px; padding-top: 10px; padding-left: 5px; padding-right: 10px; padding-bottom: 30px;">
                    <div style="text-align: center; font-size: 50px; margin-top: 10px;" th:text="${blog.Title}">123</div>
                    <div style="margin-left: 40px; font-size: 15px;">
                        <span style="float: right; margin-right: 20px; color: grey;">点赞数：<span th:text="${blog.Likes}"></span></span>
                        <p style="color: grey; margin-top: 0px; margin-left: 5px;"><td th:text="${blog.Type}">C/C++</td></p>
                        <!--                            <span style="color: grey; margin-top: 5px; margin-left: 5px;"><td th:text="${tag.TagName}">tag</td></span>-->
                    </div>
                    <!-- style="display:none;"                       <article style="font-size: 20px; margin-top: 10px; margin-left: 40px; margin-right: 40px; margin-bottom: 20px;" th:text="${blog.Content}">asdsa]</article>-->
                    <!--                        <div id="test-editormd-view">-->
                    <!--                            <textarea  name="test-editormd-markdown-doc" th:text="${blog.Content}"></textarea>-->
                    <!--                        </div>-->
                    <div style="margin-top: 10px;" id="layout">
                        <div id="test-editormd-view">
                            <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
                        </div>
                        <div id="test-editormd-view2">
                            <textarea id="append-test" style="display:none;" >[[${blog.Content}]]</textarea>
                        </div>
                    </div>
                </div>
                <div th:if="${hasA} eq 1 or ${isAuthor} eq 1" style="background-color: rgb(243,243,243); border-radius: 10px; margin-top: 15px; margin-bottom: 40px; padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 30px;">
                    <div th:each="accessory,accessorystate:${accessories}">
                        <tr>
                            <div style="background-color: white; border-radius: 10px; margin-top: 15px; margin-bottom: 10px; padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px; ">
                                <td th:text="${accessory.Address}">123</td>
                                <span style="float: right;">
                                        <a class="btn btn-primary" th:href="@{'/blog/'+${blog.BlogID}+'/download/'+${accessory.Address}}">下载</a>
                                        <a class="btn btn-primary" th:if="${isAuthor} eq 1" th:href="@{'/blog/'+${blog.BlogID}+'/delete/'+${accessory.Address}}">删除</a>
                                    </span>
                            </div>
                        </tr>
                    </div>
                    </br>
                    <center><div th:if="${isAuthor} eq 1" style="align-content: center;">
                        <form class="form-signin" th:action="@{'/blog/'+${blog.BlogID}+'/upload'}" enctype="multipart/form-data" method="post">
                            <div>
                                <input class="form-control" type="file" name="file" id="file" style="width:360px;"/>
                                <button type="submit" class="btn btn-primary" style=" width:180px; margin-top: 15px;">点击上传</button>
                            </div>
                        </form>
                    </div></center>
                </div>
            </div>
            <div class="col-md-4 column column-right" style="margin-top: 5px;">
                <span onselectstart="return false;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a th:href="@{'/user/'+${Author.UserID}+'/blogList'}"><img alt="80x80" th:src="${Author.Userpic}" class="img-circle"/></a>
                <span onselectstart="return false;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a style="font-size: x-large;" th:text="${Author.UserID}" th:href="@{'/user/'+${Author.UserID}+'/blogList'}">猫猫猫猫</a>
                </br></br>
                <p style="color: grey; margin-top: 25px; margin-left: 30px;" th:text="'个性签名：'+${Author.Userinfo}"></p>
                </br>
                <span onselectstart="return false;">&nbsp;&nbsp;&nbsp;</span>
                <a th:if="${liked} le 0" type="button" class="btn btn-lg btn-primary" th:href="@{'/blog/'+${blog.BlogID}+'/like'}" style="width:140px; margin-left: 90px;">
                    <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;点赞文章
                </a>
                <a th:if="${liked} gt 0" style="width:140px; margin-left: 90px;">
                    <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;已点赞文章
                </a>
                </br></br>
                <div class="row pre-scrollable" style="height: 800px; background-color: rgb(243, 243, 243); border-radius: 10px; margin-top: 5px; margin-bottom: 40px; padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 30px;">
                    <div th:each="comment:${comments}" style="margin-top: 15px; margin-bottom: 20px;">
                        <tr>
                            <div style="background-color: white; border-radius: 10px; margin-top: 10px; padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 10px;">
                                <img th:src="${comment.Userpic}" class="img-circle" style="height: 48px"></img>
                                <span th:text="${comment.UserID}">123</span>
                                <div th:text="${comment.CommentContent}" style="background-color: rgb(243, 243, 243); margin-top: 5px;margin-bottom: 5px; padding-left: 5px; padding-right: 5px; border-radius: 10px;">456</div>
                                <div style="color: grey;" th:text="${#dates.format(comment.CommentTime,'yyyy-MM-dd')}">789</div>
                            </div>
                        </tr>
                    </div>
                    <form th:action="@{'/blog/'+${blog.BlogID}+'/comment'}">
                        <textarea class="form-control" rows="3"  placeholder="请输入评论" name="commentContent"></textarea>
                        </br>
                        <button class="btn btn-default" type="submit">发布评论</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    function f_search(){
        document.getElementById("searchform").submit()
    }
</script>
<script src="/js/jquery.min.js"></script>
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>

<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>

<script src="/editormd/editormd.js"></script>
<script type="text/javascript">
    $(function() {
        var testEditormdView, testEditormdView2;

        $.get("test.md", function(markdown) {

            testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm            : true,    // Using [TOCM]
                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });

            //console.log("返回一个 jQuery 实例 =>", testEditormdView);

            // 获取Markdown源码
            //console.log(testEditormdView.getMarkdown());

            //alert(testEditormdView.getMarkdown());
        });

        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
    });
</script>
<script charset="UTF-8">
    function judgeSize() {
        var filePath = $("#file").val();
        if("" !== filePath) {
            var fileSize = document.getElementById("file").files[0].size;
            if (fileSize>30*1024*1024){
                $("#file").val("");
                alert("附件最大为30MB");
                var obj=document.getElementById('file');
                obj.outerHTML=obj.outerHTML;
            }
        }
    }
</script>
</body>
</html>